<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veritatis laboriosam veniam accusamus,
            soluta numquam voluptate iusto, dolorem asperiores aspernatur ad tempore fuga ratione, eaque maiores magni
            commodi harum nobis. Corporis commodi optio magnam eos reprehenderit blanditiis perspiciatis non dolor.</p>
    </div>
</div>